# Editor directories and files
.idea
.vscode
.awcache
*.suo
*.ntvs*
*.njsproj
*.sln
*.iml

*.log

.DS_Store
node_modules
coverage

yarn.lock
package-lock.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.eslintcache

legacy
modern
dist
out
.next

# Automatic generated
/platforms/docs/public/robots.txt
/platforms/docs/public/sitemap*.xml
